// nm

nav {
    background-color: var(--block);
    overflow: hidden;

    .navbar {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 30px 0;
        align-items: center;


        .logo {
            z-index: 1;
            width: 85px;
            display: flex;
            justify-content: center;

            // @media (max-width: 768px) {
            //     img {
            //         width: 100%;
            //         height: 100%;
            //     }
            // }

        }

        .menu__list {
            display: flex;
            z-index: 1;

            &-item {
                margin-right: 30px;
                position: relative;

                a {
                    font-weight: 500;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    text-align: center;
                    line-height: 1.2rem;
                }

                &:after {
                    position: absolute;
                    content: "";
                    width: 0px;
                    height: 1px;
                    left: -15px;
                    bottom: -5px;
                    background: var(--primary);
                    transition: $maintransition;
                }

                &:hover {
                    &:after {
                        width: 75px;
                    }
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .nav__btn {
            color: var(--primary-color);
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 1px;
            text-align: center;
            line-height: 1.2rem;
            border: .5px solid var(--primary-color);
            border-radius: 4px;
            padding: .5rem 1rem;
            transition: $maintransition;

            &:hover {
                border-color: var(--primary);
                background: var(--primary);
                color: var(--background);
            }
        }
    }

    .fixed-nav {
        background: var(--secondary);
        position: sticky;
        top: 0;
        z-index: 11;
    }

    // ************************** Burger menu ************************

    .burger {
        display: none;
        cursor: pointer;
    }

    @media (max-width:768px) {

        .menu__list {
            position: absolute;
            top: -100%;
            transition: $maintransition;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            &-item {
                margin-right: 0 !important;

                a {
                    color: var(--primary-color);
                    line-height: 2em !important;
                    font-size: 4em;
                }

                &:hover {
                    &:after {
                        width: 100% !important;
                    }
                }
            }
        }

        .menu {
            position: fixed;
            background: var(--secondary);
            left: 0;
            top: 0;
            height: 100vh;
            width: 100vw;
            display: none;

            &.active {
                display: flex;
                left: 0;
                top: 0;
                height: 100vh;
                width: 100vw;
                flex-direction: column;
                pointer-events: all;
                justify-content: center;
                align-items: center;
                z-index: 22;
                animation: fade 0.1s linear;

                .menu__list {
                    top: 0;
                }
            }
        }

        .burger {
            display: block;
            position: relative;
            height: 20px;
            width: 30px;
            z-index: 102;
            cursor: pointer;

            &.active-burger {
                &:before {
                    background: var(--primary-color);
                    transform: rotate(45deg);
                    transition: $maintransition;
                    top: 8px;
                }

                &:after {
                    background: var(--primary-color);
                    transform: rotate(-45deg);
                    transition: $maintransition;
                    bottom: 10px;

                }

                & span {
                    transform: scale(0)
                }
            }

            &:before,
            &:after {
                content: '';
                position: absolute;
                height: 2px;
                width: 100%;
                background: var(--burger);
                transition: $maintransition;
            }

            &:before {
                top: 0;
            }

            &:after {
                bottom: 0;
            }

            span {
                position: absolute;
                top: 9px;
                right: 0;
                width: 100%;
                background: var(--burger);
                height: 2px;
                transform: scale(1);
                transition: $maintransition;
            }
        }

    }
}