:root {
    --primary-color: #fff;
    --secondary-color: #dfdfdf;
    --gray-color: #707580;
    --background: #212121;
    --secondary: #2d2d2d;
    --gray: #40444d;
    --light-gray: #ced2d9;
    --block: #191919;
    --header: #100f11;
    --burger: #f4f4f4;
    --primary: #f7ad81;
    --primary-dark: #e39d75;

    // ------modal-------
    --modal: #ffffff;
}